//$text-color-none-hover-white: red !important;


// $menu-back-ground-color-white: blue;
//  $border-color-white: red;
//  $scroll-bar-color-white: green;
//  $header-color-white: pink;

// $icon-color-white: red ;
// $icon-active-color-white: pink ;
// $icon-mini-active-color-white: brown ;
// $icon-hover-color-white: black ;

// $menu-item-bg-color-white: red ;
// $menu-item-hover-bg-white: blue ;
// $menu-item-active-bg-color-white: green ;
// $mini-active-item-bg-color-white: pink ;

// $text-color-none-hover-white: rgba(255, 0, 0, 0.89) ;
// $text-active-color-white: rgba(0, 128, 0, 0.425) ;
// $text-mini-active-color-white: #cee02c77 ;
// $text-hover-color-white: pink ;

// $append-icon-color-white: red ;
// $append-active-icon-color-white: blue ;

// // //horizental line
//  $hr-line-color-white: red;

//  //bottomBtn for miniMenu
//  $bottomBtn-bg-color-white: blue;

//menu
// $menu-back-ground-color-dark: blue;
// $border-color-dark: red;
// $scroll-bar-color-dark: green;
// $header-color-dark: brown;

 //menu item prepend icon
//  $icon-color-dark: red;
//  $icon-active-color-dark: blue;
//  $icon-mini-active-color-dark: green;
//  $icon-hover-color-dark: brown;

//menu item
// $menu-item-bg-color-dark: rgba(255, 0, 0, 0.473);
// $menu-item-hover-bg-dark: rgba(0, 0, 255, 0.493);
// $menu-item-active-bg-color-dark: green;
// $mini-active-item-bg-color-dark: brown;

// //menu item label
// $text-color-none-hover-dark: red;
// $text-active-color-dark: brown;
// $text-mini-active-color-dark: green;
// $text-hover-color-dark: rgba(230, 2, 161, 0.705);

//menu item append icon
// $append-icon-color-dark: red ;
// $append-active-icon-color-dark: brown ;

// // //horizental line
// $hr-line-color-dark: red;

// //bottomBtn for miniMenu
// $bottomBtn-bg-color-dark: brown;

// $scroll-bar-width: 10px;
// $overlayer-bg-color: rgba(255, 0, 0, 0.514);
// $toggle-mini-btn-height: 50px;

@import 'vue-awesome-sidebar/src/scss/vue-awesome-sidebar.scss';
